.patners-container{
    background-color:black;
   margin-top: -4rem;
   padding: 0 2rem;
   display: flex;
   flex-direction: column;
   gap: 4rem;
   position: relative;
   height: 400px;
   
}

.programs-header{
  color: orange;
  text-underline-position: below;
}
.stroke-text {
    color: white; /* Set the fill color of the text */
    -webkit-text-fill-color: black; /* Make the text transparent */
    -webkit-text-stroke-width: 1px; /* Set the width of the stroke */
    -webkit-text-stroke-color: white; /* Set the color of the stroke */
  }
  .plans{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    height: 200px;
 


  }




  .carousel-item {
    height: calc(100vh - 40px);
    background-color: #777;
    width: 80%;
  margin: 0 auto;
}
.a_h {
  height: auto !important;
  background: #fff !important;
}

.slick-dots {
  bottom: 20px;
  color: #fff;
}

.slick-dots li button:before {
  font-size: 12px;
  color: #fff;
}


.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  
}
.slider-container img {
  vertical-align: middle;
  border-style: none;
  max-width:100%;
    overflow-clip-margin: content-box;
    overflow: clip;
    height: 200px;
   
}
.col2{

width: 10%;
padding-right: 15px;
padding-left: 15px;

}
























































  .programs-div1{
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    color: orange;
    gap: 2rem;
    padding: 1.5rem;
    width: 15rem;
  }

  .programs-div1>div{
    display: flex;
    font-size: 1rem;
    gap: 1rem;
    cursor: pointer;
  
  }
  .programs-div1 .join{
    display: flex;
    align-items: center;
    gap: 2rem;
    
}




 .btn1{
  background-color: white;
  padding-top:10px;
  padding-bottom: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

  .programs-div2{
    background-color: orange;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 2rem;
    padding: 1.5rem;
    width: 15rem;
    transform: scale(1.1);
  }

  .programs-div2>div{
    display: flex;
    font-size: 1rem;
    gap: 1rem;
    cursor: pointer;
  
  }
  .programs-div2 .join{
    display: flex;
    align-items: center;
    gap: 2rem;
    
}
.btn2{
  background-color: white;
  padding-top:10px;
  padding-bottom: 10px;
  border: none;
  font-weight: bold;
  color: orange;
  cursor: pointer;
}
 
 
  .programs-div3{
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 2rem;
    padding: 1.5rem;
    width: 15rem;
  }

  .programs-div3>div{
    display: flex;
    font-size: 1rem;
    gap: 1rem;
    cursor: pointer;
  
  }
 
 .programs-div3 .join{
    display: flex;
    align-items: center;
    gap: 2rem;
    
}





@media screen and (max-width: 768px) {
 .plans{
  flex-direction: column;
 } 
 .plans>:nth-child(2){
  transform: none;
 }
}