.Join{
    display: flex;
    gap: 1rem;
    padding: 0 2rem;
padding-top: 100px;
    background-color: black;
}
.left-j{
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
   
    
}
.left-j>div {
    display: flex;
    gap: 1rem;
}
.right-j{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 100px;

}
.email-container{
   
    background-color: darkgray;
    display: flex;
    gap: 3rem;
    padding: 1rem 2rem;
}
.email-container>input{
    background-color: transparent;
    border: none;
    color: lightgray;
    outline: none;
}
::placeholder{
    color: lightgray;
}





.left-j>hr{
    position: absolute;
    width: 10.5rem;
    border: 2px solid orange;
    border-radius: 20%;
    margin: -10px 0;
}
.btn-j {
    background-color: var(--orange);
    color: #fff;
}