.footer-container{
   
    background-color: rgb(19, 18, 18);

}
.footr {
    background-color: rgb(211, 141, 11);
    width: 100%;
    bottom: 0;
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}
.footr p {
    display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0%;
      margin-inline-end: -59px;
  }






.footer-container>hr {
    border: 1px solid orange;
}

.footer, .social-links {
    display: flex;
    gap: 4rem;
    
}
.social-links .ic1{
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    color: white;
    display: flex;
   
}
.social-links .ic2{
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    color: white;
    display: flex;
   
}
.ic1:hover{
    color: orange;
}
.ic2:hover{
    color: orange;
}
.footer-container>hr {
    border: 2px solid var(--orange);
    border-radius: 20%;
    margin: 30px 0;
    position: absolute;
    width: 90rem;
}

.social-links .ic3{
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    color: white;
    display: flex;
   
}
.ic3:hover{
    color: orange;
}
.footer-container>:nth-child(3), .footer-container>:nth-child(4) {
    bottom: 0;
    -webkit-filter: blur(200px);
    filter: blur(200px);
    height: 12rem;
    width: 26rem;
}



















.blur-f-1{
    bottom: 0;
    right: 15%;
    width: 26rem;
    height: 12rem;
    filter: blur(200px);
    background-color: orange;
}
.blur-f-2{
    bottom: 10px;
    left: 15%;
    width: 26rem;
    height: 12rem;
    filter: blur(200px);
    background-color: orange;
    margin-left: 900px;  
}
































#row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;


}


#row1{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

}
.col{
    flex-basis: 80px;
    margin-bottom: 30px;
}
.logo1{
    width: 80px;
    margin-bottom: 30px;
}


.col h3{
    width: fit-content;
    border-bottom: 1px solid white;
    position: relative;
}
.col-sm h3{
    width: fit-content;
    border-bottom: 1px solid white;
    position: relative;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid white;
    margin: 20px 0;
}
.col ul li{
    list-style: none;
    margin-bottom: 12px;
  
}
.col ul li a{
    text-decoration: none;
    color: white;
    margin-left: -40px;
}
.social-links .ic2{
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    color: white;
    display: flex;
   
}
.ic1:hover{
    color: orange;
}
.ic2:hover{
    color: orange;
}
.social-links .ic3{
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    color: white;
    display: flex;
   
}
.ic3:hover{
    color: orange;
}

.social-links .ic1{
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    color: white;
    display: flex;
   
}


.icons{
    color: black;
    height: 30px;
}
.col1{
   
    border-radius: 3px;
}

img{
    height:20px;

}