:root{
  --lightgray: #D9D9D9;
  --gray: #9c9c9c;
  --orange: #f48915;
  --darkgray: #464D53;
  --caloryCard: #656565;
  --planCard: linear-gradient(210.41deg, darkorange);
  --appColor: #3c3f45;

}

.App{
  background-color: black;
  mix-blend-mode: overlay;
  background-color: var(--appColor);
  display: flex;
  flex-direction: column;
  gap: 6rem;
  overflow: hidden;

}
:root {
  --lightgray: #d9d9d9;
  
  --gray: #9c9c9c;
  --orange: #f48915;
  --darkGrey: #464d53;
  --caloryCard: #656565;
  --planCard: linear-gradient(210.41deg,#fa5042 1.14%,#ffa739 100.75%);
  --appColor: #3c3f45;
}

::-webkit-scrollbar{
  display: none;
}